<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.coolblog.chapter6.dao.StudentDao">

    <!-- 注意要在映射文件中配置缓存 -->
    <cache/>

    <select id="findOne" resultType="xyz.coolblog.chapter6.model.Student">
        SELECT
            `id`, `name`, `age`
        FROM
            student
        WHERE
            id = #{id}
    </select>

    <update id="update">
        UPDATE
            student
        SET
            `name` = #{name}
        WHERE
            id = #{id}
    </update>
</mapper>